mixin header
	#SVG_container
	header
		.container
			.header-circle
				img.header-circle__img(src='../img/header-img.png')
				.header-circle__title Встречайте новые яркие кварталы!
				.header-circle__text Здесь также душевно и уютно, как в старом добром «Ярком», но ещё лучше, современнее и интереснее.
				button.header-cricle__button Посмотреть квартиры





