extends layout/_base

block vars
	- var array = {title:'Home'}

block content_block
	section.bright-block
		.container.bright-block__container
			.bright-block__left
				.bright-block__title Из «Яркого» в новый «Яркий»!
				.bright-block__text
					p	Расширяйтесь, не покидая наш уютный микрогород. Переезжайте в новые кварталы «Яркого»!
					p Это удобно: детям не нужно менять школу и садик, вам — менять свои привычки. Старые друзья остаются с вами, а центр Уфы по-прежнему рядом.

			.bright-block__right
				img.bright-block__img(src='../img/bright-img.jpg')


	section.advantages
		.container
			.advantages__title Всё стало ещё лучше
			.advantages__cards
				.advantages__card
					img.advantages__img(src="../img/card-1.jpg")
					.advatages__title Безопасные дворы без машин
					.advantages__text Двор — это там, где отдыхают люди. А парковка — где отдыхают машины. И лучше это не смешивать. Поэтому в новых кварталах парковка вынесена за пределы двора. Дети играют в безопасном зелёном дворе, машины стоят по периметру квартала под присмотром камер
				.advantages__card
					img.advantages__img(src="../img/card-2.jpg")
					.advatages__title Трёхуровневое озеленение и двор, цветущий круглый год
					.advantages__text Новые дворы «Яркого» — это настоящие парки. Растения здесь подобраны так, чтобы двор цвёл круглый год. А трёхуровневое озеленение защищает от ветра и солнца.
				.advantages__card
					img.advantages__img(src="../img/card-3.jpg")
					.advatages__title Игровые пространства для разного возраста
					.advantages__text В новых дворах уникальные игровые пространства разделены по возрастам. Малыши играют с малышами, дети постарше со своими сверстниками. Безопасно, весело и никто никому не мешает.
				.advantages__card
					img.advantages__img(src="../img/card-4.jpg")
					.advatages__title Зоны отдыха во дворах-парках
					.advantages__text Для нас дом — это место силы, где можно отдохнуть от работы, выдохнуть и подпитаться энергией. И гораздо приятнее делать это среди зелени в уютном пространстве двора-парка. Выходите на улицу, общайтесь с друзьями и наслаждайтесь жизнью.
				.advantages__card
					img.advantages__img(src="../img/card-5.jpg")
					.advatages__title Дизайнерские подъезды
					.advantages__text Просторные дизайнерские лобби с диванами, библиотеками и входом на уровне пола
				.advantages__card
					img.advantages__img(src="../img/card-6.jpg")
					.advatages__title Спорт прямо во дворе
					.advantages__text На спорт всегда найдётся время, если им можно заниматься прямо во дворе. Поэтому в новых кварталах спроектировано 3 километра велодорожек с современным покрытием и 7 игровых зон. Вышел из дома и уже на спорте!




